
#imgbox{
    display: inline;
    position: relative;
    left: 50px;
}
.pricepage-info{
    display: grid;
    place-content: center;
    float: right;
    margin-right: 300px;
    margin-top: 350px;
}